<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interview.mapper.studentMapper">
	<select id="selectStudentById" parameterType="int" resultType="com.interview.model.Student">
        <![CDATA[
            select * from student where studentId = #{id}
        ]]>
	</select>
</mapper>